body{
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(34, 42, 134, 0.968);
    .heading{
        width: 100%;
        text-align: center;
        position: absolute;
        top: 20px;
        left: 0;
    }
    .heading h1{
        body-style : italic;
        font-family: 'Times New Roman', Times, serif, font: size 25px;
        color: rgb(228, 230, 248);
        
        
    }
    .card{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px 30px;
    border-radius: 25px;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width:auto;
    max-width: 500px;
    text-align: center;
    border: 2px solid #0000
    form{
        display: flex;  
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
        
        .level{
           font-weight: bold;
            text-align: center;
            top: 20px;
            display:block;
            font-size: 1.2rem;
            margin-bottom: 15px;
            color: #131212;
        }
        .input-group{
            display:flex;
            flex-direction: column;
            align-items:center;
            margin-bottom: 25px;
           
        }
        input[type="file"]{
            padding: 10px;
            border: 1px solid #131212;
            border-radius: 25px;
            background: white;
            
        }
        .button-row{
            display: flex;
            justify-content: center;
            gap: 15px;
            
        }

        .bt1{
            border: 2px solid #0a0909 , border-radius: 50px;
            padding: 10px 20px;
            background-color: rgba(240, 229, 235, 0.968);
            color: rgb(16, 15, 15);
            cursor: pointer;
           
        } 
        .bt1:hover{
            background-color: rgba(77, 77, 247, 0.968);
            color: rgb(255, 255, 255);
            border: 2px solid #0a0909 , border-radius: 50px;
            transition: 0.3s ease;
        }
}
}
